# Analysing the Financial data
PyBank
Revenue

In this challenge, you are tasked with creating a Python script for analyzing the financial records of your company. You will give a set of financial data called budget_data.csv. The dataset is composed of two columns: Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting so the records are simple.)

Your task is to create a Python script that analyzes the records to calculate each of the following:

The total number of months included in the dataset

The net total amount of "Profit/Losses" over the entire period

The average of the changes in "Profit/Losses" over the entire period

The greatest increase in profits (date and amount) over the entire period

The greatest decrease in losses (date and amount) over the entire period

As an example, your analysis should look similar to the one below:

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
  Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
  Greatest Decrease in Profits: Sep-2013 ($-2196167)
In addition, your final script should both print the analysis to the terminal and export a text file with the results.

In [1]:
#Import libraries
import os
import pandas as pd
import numpy as np
from collections import OrderedDict

In [2]:
#set path to current working directory
os.chdir("E:\SAU\ML\Practice\Shiny")
os.getcwd()

'E:\\SAU\\ML\\Practice\\Shiny'

In [3]:
#import Data
data = pd.read_csv("homework_03-Python_Instructions_PyBank_Resources_budget_data (1).csv")
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
#brief summary of the data
data.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [5]:
#about the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
Date             86 non-null object
Profit/Losses    86 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

In [6]:
data.shape

(86, 2)

In [7]:
#Add month col to the dataframe to get unique months irrespective of the year
data["Month"] = data["Date"].apply(lambda x: x.split("-")[0]) 
data['Month'].nunique()

12

#Add month and year col to the dataframe
data["Month"] = data["Date"].apply(lambda x: x.split("-")[0])
data["Year"] = data["Date"].apply(lambda x: x.split("-")[1])
data.head()

In [8]:
#The total number of months included in the dataset

total_months = len(data["Date"].unique())
total_months

86

In [9]:
#The net total amount of "Profit/Losses" over the entire period(Total: $38382578)
total_amount = data["Profit/Losses"].sum()
total_amount

38382578

In [10]:
#The average of the changes in "Profit/Losses" over the entire period
avg_change = data["Profit/Losses"].mean()
avg_change
round(avg_change, 2)

446309.05

In [11]:
#The greatest increase in profits (date and amount) over the entire period
#Greatest Increase in Profits: Feb-2012 ($1926159)

order = data.sort_index(by='Profit/Losses')
result = order.drop_duplicates('Date', keep = 'first').values
high = result[-1][:2]
high

C:\Users\nsund\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  after removing the cwd from sys.path.

array(['Feb-2012', 1170593], dtype=object)

In [12]:
#The greatest decrease in losses (date and amount) over the entire period
#  Greatest Decrease in Profits: Sep-2013 ($-2196167)
order = data.sort_index(by='Profit/Losses')
result = order.drop_duplicates('Date', keep = 'last').values
low = result[0][:2]
low

C:\Users\nsund\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  This is separate from the ipykernel package so we can avoid doing imports until

array(['Sep-2013', -1196225], dtype=object)

In [13]:
#view of summary data before printing to output 
print("-------------------\nFinancial Analytics\n-------------------")
print("Total months : ",total_months)
print("Total amount : ",total_amount)
print("Average change : ",avg_change)
print("Greatest Increase in Profits: ",high)
print("Greatest Decrease in Profits: ",low)

-------------------
Financial Analytics
-------------------
Total months :  86
Total amount :  38382578
Average change :  446309.0465116279
Greatest Increase in Profits:  ['Feb-2012' 1170593]
Greatest Decrease in Profits:  ['Sep-2013' -1196225]

In [14]:
output_table = pd.DataFrame({"Total Months" : [total_months], "Total amount" : [total_amount], "AverageChange" : [avg_change],
                             "Greatest Increase in Profits" : [high],
                             "Greatest Decrease in Profits" : [low]})
output_table

,AverageChange,Greatest Decrease in Profits,Greatest Increase in Profits,Total Months,Total amount
0,446309.046512,"[Sep-2013, -1196225]","[Feb-2012, 1170593]",86,38382578

In [15]:
output_table.to_csv("Show_output.txt", index = False, header = True)